body{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 18px;
}

header{
    background-color: #FEFCFB;
}

[class="nav-item"] {
    margin: 0px 1rem;
}

[class="nav-link"] {
    color: black;
}

[class="nav-link"]:hover {
    color: #FA7436;
}

.register:hover {
    background: #FA7436;
    border: none;
    color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #FA7436;
    border-color: #FA7436;
}

#blog .card{

    Height: 450px;
}



#footer #suscribe{
    background: #FA7436;
    border-radius: 12px;
    margin-bottom: 100px;
  
}
#footer #suscribe .input-group{
   
    background: white;
    border-radius: 8px;
    padding: 10px;

    
}
#footer #suscribe .btn-suscribe{
   
    background: #FA7436;
    color: white;
}
#footer #suscribe h1{
   
    font-family: 'Volkhov';
    color: white;
    font-style: normal;
    font-weight: 700;
    
}
#footer #suscribe .email{
   
    border: none;
    
}

#footer{
    margin-top: 50px;
    background: #F7F8FC;
}
#footer .title{
    font-weight:600;
}